
*, *::after, *::before {
  box-sizing:border-box;  
}

*{
  font-family:'Roboto', sans-serif;;
}

:root{

}

@supports (scroll-snap-type: mandatory) or (-webkit-scroll-snap-type: mandatory) {
  .is-not-supported {display: none;}
}

.slider-header {
  position: relative;
  width: 100%;
  height: 97vh;
  padding: 10px;
}
.slider-header .slider-header-img {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  white-space: nowrap;
    scroll-snap-points-x: repeat(100%);
    scroll-behavior: smooth;
    scroll-snap-type: mandatory;
    -webkit-scroll-snap-type: mandatory;
    -webkit-scroll-snap-points-x: repeat(100%);
    font-size: 0;
}
.slider-header .slide-header {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
}
.slide-header {
  position: absolute;
  display: block;
  bottom: 0; left: 0;
  width: 100%;
  font-size: 1rem;
  color: #000;
  margin: 0;
  white-space: normal;
}

.slider-header-buttons {
  position: absolute;
  bottom: 0; 
  right: 0;
  width: 100%;
  height: auto;
  padding: 20px;
  font-size: 1rem;
  text-align: right;
  z-index: 2;
}
.slider-header-buttons a {
  width: 30px;
  height: 30px;
  display: inline-block;
  background: #fff;
  border-radius: 50%;
  text-align: center;
  padding: 0.5em 0;
  text-decoration: none;
  color: #000;
}


.background-img-1{
  background-image: url('https://www.polestar.com/dato-assets/11286/1634718597-polestar-2-mobile-hero-retouched-42.jpg');
  width: 100%;
  height: 97vh;
  padding: 0rem;
  background-repeat: no-repeat;
  background-position: center right;
  background-size: cover;
  padding: 20px;
}

.background-img-2{
  background-image: url('https://www.polestar.com/dato-assets/11286/1633937916-polestar-1-mobile-hero-v2-42.jpeg');
  width: 100%;
  height: 97vh;
  padding: 0rem;
  background-repeat: no-repeat;
  background-position: center right;
  background-size: cover;
  padding: 20px;
}